
<mat-card>
  <mat-card-title class="dark-purple">
    {{company.name}}
    <span class="float-end" [ngClass]="!company.active? 'light-purple':'dark-purple'">{{activeAsString}}</span>
  </mat-card-title>
  <mat-card-content>
    <p>Notes: {{company.notes}}</p>

    <mat-card>
      <mat-card-title class="dark-purple">
        Contacts:
      </mat-card-title>
    <contact-table></contact-table>
    </mat-card>
    <br />
    <mat-card>
      <mat-card-title>
        Servers:
      </mat-card-title>
    <server-table></server-table>
     
</mat-card>
    <br />

    <mat-card-actions>
      <button mat-raised-button class="btn btn-secondary" (click)="back()">Back</button>
      <button mat-raised-button class="btn btn-primary" (click)="addEditCompany(company)">Edit</button>
    </mat-card-actions>
  </mat-card-content>




  

