<mat-table [dataSource]="dataSource">
  <ng-container matColumnDef="Company ID">
    <mat-header-cell *matHeaderCellDef>Company ID</mat-header-cell>
    <mat-cell *matCellDef="let company" [ngClass]="!company.active? 'grey':'dark-purple'">{{company.id}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="Company Name">
    <mat-header-cell *matHeaderCellDef>Company Name</mat-header-cell>
    <mat-cell *matCellDef="let company"
              [ngClass]="!company.active? 'grey':'dark-purple'">
      <button mat-button (click)="openCompany(company)">{{company.name}}</button>
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="Primary Contact">
    <mat-header-cell *matHeaderCellDef>Primary Contact </mat-header-cell>
    <mat-cell *matCellDef="let company" [ngClass]="!company.active? 'grey':'dark-purple'">
      {{company.primaryContactName}} ({{company.primaryContactPhonenumber}})
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="Actions">
    <mat-header-cell *matHeaderCellDef></mat-header-cell>
    <mat-cell class="justify-content-end" *matCellDef="let company">
      <button mat-button (click)="removeCompany(company)"><img width="30" height="30" src="../assets/dustbin.png" /></button>
    </mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>
<br />
<div class="row">
  <div class="col-6">
    <label for="switch">See Inactive:</label>&nbsp;
    <label name="switch" class="switch">
      <input type="checkbox" (change)="loadData(!this.includeInactive);
          this.includeInactive=!this.includeInactive;">
      <span class="slider round"></span>
    </label>&nbsp;

    <button mat-raised-button mat-primary class="btn btn-primary" (click)="addCompany()">Add</button>
  </div>
  <div class="col-6">
    <mat-paginator [length]="200" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>
