<mat-table [dataSource]="dataSourceC">
  <div *matNoDataRow>No Contact data found</div>
  <ng-container matColumnDef="Contact ID">
    <mat-header-cell class="dark-purple" *matHeaderCellDef>Contact ID</mat-header-cell>
    <mat-cell *matCellDef="let contact" [ngClass]="contact.isPrimary? 'light-purple':'dark-purple'">{{contact.id}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="Contact Name">
    <mat-header-cell class="dark-purple" *matHeaderCellDef>Contact Name</mat-header-cell>
    <mat-cell *matCellDef="let contact" [ngClass]="contact.isPrimary? 'light-purple':'dark-purple'">
      <button mat-button (click)="addEditContact(contact)">
        {{contact.name}}
      </button>
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="Contact E-mail">
    <mat-header-cell class="dark-purple" *matHeaderCellDef>Contact E-mail</mat-header-cell>
    <mat-cell *matCellDef="let contact" [ngClass]="contact.isPrimary? 'light-purple':'dark-purple'">{{contact.email}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="Contact Phone">
    <mat-header-cell class="dark-purple" *matHeaderCellDef>Contact Phone</mat-header-cell>
    <mat-cell *matCellDef="let contact" [ngClass]="contact.isPrimary? 'light-purple':'dark-purple'">{{contact.phone}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="ActionsC">
    <mat-header-cell *matHeaderCellDef></mat-header-cell>
    <mat-cell class="justify-content-end" *matCellDef="let contact">
      <button mat-button (click)="removeContact(contact)"><img width="30" height="30" src="../assets/dustbin.png" /></button>
    </mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="displayedColumnsC"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumnsC"></mat-row>
</mat-table>
<div class="row">
  <div class="col-6">
    <br />
    <button mat-button class="btn btn-primary" mat-primary (click)="addContact()">Add</button>
  </div>
  <div class="col-6">
    <mat-paginator [length]="200" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>
  </div>
</div>
