<mat-table [dataSource]="dataSourceS" multiTemplateDataRows>
  <div *matNoDataRow>No Server data found</div>
  <ng-container matColumnDef="Server ID">
    <mat-header-cell *matHeaderCellDef>Server ID</mat-header-cell>
    <mat-cell *matCellDef="let server">{{server.id}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="Server Name">
    <mat-header-cell *matHeaderCellDef>Server Name</mat-header-cell>
    <mat-cell *matCellDef="let server">
      <button mat-button (click)="addEditServer(server)">
        {{server.name}}
      </button>
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="Server Address">
    <mat-header-cell *matHeaderCellDef>Server Address</mat-header-cell>
    <mat-cell *matCellDef="let server">{{server.address}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="Server Username">
    <mat-header-cell *matHeaderCellDef>Server Username</mat-header-cell>
    <mat-cell *matCellDef="let server">{{server.username}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="Server Password">
    <mat-header-cell *matHeaderCellDef>Server Password</mat-header-cell>
    <mat-cell *matCellDef="let server">{{server.password}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="Actions">
    <mat-header-cell *matHeaderCellDef></mat-header-cell>
    <mat-cell class="justify-content-end" *matCellDef="let server">
      <button mat-button (click)="removeServer(server)"><img width="30" height="30" src="../assets/dustbin.png" /></button>

    </mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="displayedColumnsS"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumnsS"></mat-row>
</mat-table>
<div class="row">
  <div class="col-6">
    <br />
    <button mat-button class="btn btn-primary" mat-primary (click)="addServer()">Add</button>
  </div>
  <div class="col-6">
    <mat-paginator [length]="200" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>
  </div>
</div>
